

.row0, .row1 {
	width: 100%;
	display: inline-block;
	min-height: 20px;
	padding: 10px;
	padding-right: 0;
}


.row0 {
	background-color: #d9ead3;
}

.row1 {
	background-color: #c9daf8;
}

.rowclickable {
	background-color: red;
}


.someaddress {
	font-weight: bold;
}

.somedate {
	/*text-decoration: underline;*/
}

.somequote {
	font-style: italic;
	position: relative;
	top: -20px;
}

.somecontent {
	margin-top: 10px;
	word-wrap: break-word;
	display: inline;
}


a {
	text-decoration: none;
}


.sometag {
	font-weight: bold;
	color: red;
}

.someparticipant {
	font-weight: bold;
	color: green;
	font-size: 10px;
}


.avatar {
	/*display: inline;*/
}

.avatarblock {
	float: left;
	margin-right: 10px;
	margin-top: 0;
	display: block;
}


.somemsg {
	display: block;
	word-wrap: break-word;
}


a:hover .sometag {
	border-bottom-width: 1px;
	border-bottom-style: dotted;
}

/*
a:hover .followed .someaddress, a:hover .followed .someparticipant {
	border-bottom-width: 1px;
	border-bottom-style: solid;
}*/

a:hover /*.notfollowed */ .someaddress/*, a:hover .notfollowed   .someparticipant*/ {
	border-bottom-width: 1px;
	border-bottom-style: dotted;
}


.semailwin {
	font-size: 11px;
}


.tagslist {
	float: right;
	margin-right: 10px;
	padding-top: 5px;
}

.rowmain .tagslist {
	/*position: relative;
	top: 20px;*/
	border-right: 10px;
}


.headmsg {
	position: relative;
	float: right;
	padding-right: 10px;
	background-color: #ffffcc;
	top: -10px;
	border-radius: 2px;
	padding: 2px;
	width: 85%;
	text-align: right;
}


.sendbox {
	/*text-align: center;*/
	margin-top: 20px;
	margin-bottom: 20px;
}


.msgarea {
	position: absolute;
	width: 70%;
	height: 100px;
}

.sendbut {
	position: absolute;
	width: 20%;
	height: 105px;
	float: right;
	
}


.invitpeople:hover, #moresemails:hover, #morefeeds:hover, #refreshfeeds:hover, .deletesemail:hover {
	border-bottom-width: 1px;
	border-bottom-style: dotted;
}


.gra {
	border: 2px;
	border-style: solid;
	border-color: white;
}

.graselected {
	border-color: red;
}


.typesm {
	float: right;
	font-style: italic;
}

.blabla {
	font-weight: bold;
}

.invitarea {
	width: 100%;
}

.invitbut {
	width: 100%;
}

.halfbut {
	width: 48%;
}


label {
	/*min-width: 100px;*/
	float: left;
	width: 100px;
	font-weight: bold;
}

.afterfield {
	font-weight: bold;
	color: #70b0d0;
	margin-left: 10px;
}

.formbut {
	width: 100px;
	margin-top: 20px;
}

.error {
	font-size: 9px;
}


#tabs {
	font-size: 11px;
}

